# Ignore Neovim swap, backup, and undo files
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.un~

# Ignore packer plugins directory
site/pack/packer/

# Ignore Lua plugin compiled files (if applicable)
plugin/packer_compiled.lua
